* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
  color: #212121;
  padding-right: 50px;
  font-family: "Roboto";
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
a:hover {
  color: #2196F3;
}
.menu {
  height: 80px;
  display: flex;
  justify-content:space-between;
}
.menu-left {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-right {
  padding-top: 32px;
  padding-bottom: 32px;
}
ul.nav-right li {
  font-family: "Roboto";
  font-size: 14px;
letter-spacing: 0.02em;
  float: left;
}
ul.nav-right li:nth-child(1) {
list-style-image: url(icons/envelope\ \(hover\).svg);
}
ul.nav-right li:nth-child(2) {
list-style-image: url(icons/Vector.svg);
}
#logo {
padding-left: 215px;
padding-right: 85px;
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 26px;
letter-spacing: 0.03em;
}
  .tittle-img {
  background: url(img/Header\ img.jpg)no-repeat,rgba(47, 48, 58, 0.8);
  background-blend-mode:overlay;
  height: 600px;
  background-size: 100% 100%;
  }
  #tittle{
    margin: 0 auto;
    padding: 200px 452px 32px;
   text-align: center;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#FFFFFF;
  }
  .order {
display:block;
max-width: 136px;
margin: 0 auto;
padding: 10px 32px;
background: #2196F3;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: "Roboto";
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
  }
  .conteiner_specifics {
    max-width: 1170px;
    margin: 94px auto;
  }
  .specifics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .feature1 {
height: 120px;
width: 270px;
margin-left: 30px;
background: #F5F4FA;
border-radius: 4px;
  }
  .icons {
    display: block;
    padding: 25px 100px;
  }
  .specifics_tittle {
    margin: 30px 0px 10px 0px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
  }
  .specifics_text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
  }
  .WhatWeDo_conteiner {
    max-width: 1170px;
    margin: 194px auto;
  }
  .WhatWeDo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .WhatWeDo_tittle {
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-size: 36px;
font-weight: bold;
letter-spacing: 0.03em;
color: #212121;
  }
  .Device_box {
    position: relative;
    margin-left: 30px;
  }
  .Desktop_tittle {
    top: 223px;
    position: absolute;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 86px 27px 87px;
    background: rgba(47, 48, 58, 0.8);
  }
 .Desktop_tittle_mob {
    top: 223px;
    position: absolute;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 89px 27px 90px;
    background: rgba(47, 48, 58, 0.8);
  }
  .Desktop_tittle_design {
    top: 223px;
    position: absolute;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 93px 27px 96px;
    background: rgba(47, 48, 58, 0.8);
  }
  .Section_team {
    background: #F5F4FA;
    margin: 94px 0px 94px 0px;
    height: 702px;
  }
  .Our_team_tittle {
    text-align: center;
    padding: 94px 0px 50px 0px;
    font-size: 36px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
letter-spacing: 0.03em;
color: #212121;
  }
  .Our_team {
    margin: 50px 215px;
    display: flex;
    justify-content: space-around;
  }
  .Card1 {
    width: 270px;
height: 422px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  }
  .Name {
    margin-top: 20px;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
  }
  .profession {
    margin-top: 10px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
  }
  .Social {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .Social a {
    margin: 0px;
    padding-right: 0px ;
  }
  .Social a:hover {
     color: #2196F3;
  }

  
  

  
 
 
  



 
  
 